/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

/*pallette
gold
#c4a670
maroon
#9e2f2b
putty
#bebea2*/

/*-- General --*/
body{
	background-color: #798e96;
  line-height: 1;
	padding:0;
	margin:0;
	font: 200% 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}

h1 {
  font-family: 'Capriola', sans-serif;
  font-size: 80px;
}

body, html {
    height: 100%;
}
a:link {
    text-decoration: none;
}

.caption a:visited {
    text-decoration: none;
    color: #dea62c;
}
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.edit-image img {
  float: right;
}
.thumb {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px;
    background-position: center center;
    background-size: cover;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-weight: 200;
  letter-spacing: normal;
  padding: 300px 80px;
  font-size: 7.5em;
  margin-bottom: 20px;
}
.intro {
  line-height: 2;
  font-size: 1.25em;
  padding: 50px, 50px;
}
.side-font {
  color: #fff;
}
.button-logo {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #fff;
    border: 1px solid #fff;
    overflow: hidden;
    outline:none;
    margin-top: 100px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
}
.button-logo-2 {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #5b5954;
    border: 1px solid #5b5954;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-top: 100px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 30px;
}
.button-logo-3 {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #5b5954;
    border: 1px solid Transparent;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 10px;
    padding: 3px;
}
.nudge {
  margin-left: 5px;
}
.outline {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #5b5954;
    border: 1px solid #5b5954;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 30px;
}
.button-logo:hover {
    background-color: rgba(57, 70, 76, .5);
    background-repeat:no-repeat;
    color: #fff;
    border: 1px solid #fff;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-top: 100px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
}

.btn-circle.btn-lg {
  width: 50px;
  margin-left: 30px;
  margin-right: 10px;
  height: 50px;
  padding: 5px 6px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  background-color: #dea62c;
}
.slabtexted .slabtext
        {
        display:-moz-inline-box;
        display:inline-block;
        white-space:nowrap;
        }
.slabtextinactive .slabtext
        {
        display:inline;
        white-space:normal;
        font-size:1em !important;
        letter-spacing:inherit !important;
        word-spacing:inherit !important;
        *letter-spacing:0 !important;
        *word-spacing:0 !important;
        }
.slabtextdone .slabtext
        {
        display:block;
        }

/*.abtn {
  display: inline-block;
    padding: 6px;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: justify;
    white-space: nowrap;
    vertical-align: top;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}*/

.container-nav {
  align-content: center;
  padding-right: 35px;
}
.navbar {
  background-color: #dcdadd;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}
.navbar-brand {
  font-weight: bolder;
  font-size: 150%;
  text-align: center;
  color: #ffffff;
}
.title {
  margin: 20px auto;
  font-weight: normal;
  font-family: 'Cantarell', sans-serif;
}

.splash {
  font-family: 'Pacifico', cursive;
  color: rgba(30,30,28,.95);
  text-align: center;
  vertical-align: middle;
  font-weight: 200;
  letter-spacing: normal;
  padding: 5px 20px;
  font-size: 2.5em;
  margin-bottom: 29px;
}

.navFont {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 1px 6px;

  font: 13.3333px Arial;
  text-rendering: auto;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  letter-spacing: normal;
  word-spacing: normal;
  color: buttontext;

  border: 2px outset buttonface;
  border-image: initial;

  background-color: buttonface;

  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  cursor: default;
}
.nav-align {
  text-align: justify;
  vertical-align:text-top;
  margin-top: 6px;
}

.nav-align {
  vertical-align:text-top;
  margin-top: 6px;
  margin-right: 20px;
}
a.button1 {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 1px 6px;

    font: 13.3333px Arial;
    text-rendering: auto;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    color: buttontext;

    border: 2px outset buttonface;
    border-image: initial;

    background-color: buttonface;

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    cursor: default;
}

a.button:active {border-style: inset;}


img {
  margin-top: 2px;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
ul.polaroids img {
    display: block;
    width: 320px;
    margin-bottom: 12px;
}
a img {
    border: 0px solid grey;
}
.clear-both {
  clear: both
}
ul.polaroids a {
    background: #fff;
    display: inline;
    float: left;
    margin: 10px 10px 50px 20px;
    width: auto;
    padding: 10px 10px 15px;
    text-align: center;
    font-family: "Marker Felt",sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    -webkit-transition: -webkit-transform .15s linear;
}
.sm-profile {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 0px;
  border-radius: 50%;
}

/*Polaroids*/
/*Copyright ZURB, freely available for distribution under the MIT license.*/

ul.polaroids a:after {
  content: attr(title);
}

/* By default, we tilt all our images -2 degrees */
ul.polaroids a {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}

/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
ul.polaroids li:nth-child(even) a {
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(2deg);
}

/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}
ul.polaroids li:nth-child(odd) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}

/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}

ul.polaroids li:nth-child(2n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}

/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) a {
  position: relative;
  top: 8px;
  right: 5px;
}

/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) a {
  position: relative;
  top: 3px;
  left: -5px;
}
/* Scale the images on hover, add transitions for smoothing things out, and ensure the hover appears on top */
ul.polaroids a:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 15;
}
ul.polaroids a:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 15;
}
/* Add drop shadows and smooth out the transition (Safari only) */
ul.polaroids a {
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

/* On hover, darken the shadows a bit */
ul.polaroids a {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

/*flex-box*/
/*===============================================*/

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

.list-group-item:hover {
  background-color: #eee;
}

.list-group-item {
  cursor: pointer;
}

header {background: black;color:white;}

#news {
  float:left;
  padding: 10px;
}

.link_button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
}
/*@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}*/
.parallax {
    /* The image used */
    background-image: url("images/logo10.jpg");

    /* Set a specific height */
    min-height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*.bg-img1 {
  background-image: url("images/logo1.jpg");
  min-height: 100%;
}
.bg-img2 {
  background-image: url("images/logo2.jpg");
  min-height: 800px;

}
.bg-img3 {
  background-image: url("images/logo3.jpg");
  min-height: 800px;

}
.bg-img5 {
  background-image: url("images/logo5.jpg");
  min-height: 600px;

}*/
/*login home page*/
.login {
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
.login-h3 {
  text-align: center;
  color: #fff;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("images/logo1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("images/logo2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("images/logo5.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
  line-height: 2;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
    .parallax {
        /* The image used */
        background-image: url("images/logo10.jpg");

        /* Set a specific height */
        min-height: 100px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        /*background-size: cover;*/
    }
    .logo {
      font-family: 'Pacifico', cursive;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      font-weight: 100;
      letter-spacing: normal;
      padding: 100px 40px;
      font-size: 3.5em;
      margin-bottom: 20px
}

.span1 {
  background-color:transparent;
  font-size:25px;
  color: #f7f7f7;
}
.relative {
  position:relative;
}
.span2 {
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding: 50px, 80px;
  text-align: justify;
}
.span3 {
  background-color:transparent;
  font-size:25px;
  color: #f7f7f7;
}
.span4 {
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {

/* STYLES GO HERE */


}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tighten {
  max-width: 200px;
  align-self: center;
}
